<p id="notice"><%= notice %></p>
<div id = "artist_info"
  <div id ="name">
    <b>Name:</b> <%= @artist.name %>
  </div>

  <div id = "city">
    <b>City:</b> <%= @artist.city %>
  </div>
</div>

<div class = "songs_group">
  <h2>Songs</h2></br>
  <% @artist.songs.each do |song| %>
    <div class = "song">
    <div id = "song_name"><%= song.name %></div></br>
    <%= link_to "Add a comment", new_song_comment_path(song) %>
    <% song.comments.each do |comment| %>
        <li id="comments">
          <%= comment.content %>

        </li>
    <% end %>
  </div>
  <% end %>
</div>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
