<p id="notice"><%= notice %></p>
<div id = "artist_info"
  <div id ="name">
    <b>Name:</b> <%= @artist.name %>
  </div>

  <div id = "city">
    <b>City:</b> <%= @artist.city %>
  </div>
  <% if @artist == @current_artist %>
  <div id="edit_profile_page">
    <%= link_to 'Edit', edit_artist_path(@artist) %> 
  </div>
  <% end %>
</div>

<div class = "songs_group">
  <div id="song_header">Songs</div></br>
  

  <% @artist.songs.each do |song| %>
    <div class = "song">
    <div id = "song_name"><%= song.name %></div></br>
    <%= link_to "Add a comment", new_song_comment_path(song) %>
    <% song.comments.each do |comment| %>
        <li id="comments">       
          <%=verify_if_comment_has_a_registered_author(comment)%>: 
          <%= comment.content %>
          <% if @current_artist == comment.artist && @current_artist != nil %>
            <%= link_to 'Edit', edit_song_comment_path(comment) %>
            <%= link_to 'Delete', delete_song_comment_path(comment) %>
          <% end %>
          <% if @artist == @current_artist %>
            <%= link_to 'Delete', delete_song_comment_path(comment) %>
          <%end%>
        </li>
    <% end %>
  </div>
  <% end %>
</div>



