<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @artist.name %>
</p>

<p>
  <b>City:</b>
  <%= @artist.city %>
</p>

<p>
  <b>Songs:</b></br>
  <% @artist.songs.each do |song| %>
  <ul>
    <li><%= song.name %>
      <%= link_to "Add a comment", new_comment_path %>
      <% song.comments.each do |comment| %>
        <ul><li><%= comment.content %></li></ul>
      <% end %> <!-- end of .each for all comments -->
    </li>
  </ul>
  <% end %> <!-- end of .each for all songs -->

</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
