<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @artist.name %>
</p>

<p>
  <b>City:</b>
  <%= @artist.city %>
</p>

<div class = "songs">
  <b>Songs:</b></br>
  <% @artist.songs.each do |song| %>
    <%= link_to "Add a comment", new_song_comment_path(song) %>
    <% song.comments.each do |comment| %>
        <ul><li><%= comment.content %></li></ul>
    <% end %>
  <% end %>
</div>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
