<!DOCTYPE html>
<html>
<head>
  <title>Project1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class = "log_in_header">
      
      <% if current_user %>
        Hello, <%=link_to current_user.name, current_user%>
        <%=link_to "Log Out", session_path(0), method: :delete, data: {confirm: "Are you sure?"}%>
      <%else %>
        <%= link_to 'Sign Up', new_artist_path %>&nbsp&nbsp
        <%=link_to "Log In", new_session_path%>
    <% end %>
   </div>

   <div class = "top_menu_bar">
    <%= link_to "Home", root_path%>
    <%= link_to "Artists", artists_path %>
    <%= link_to "Songs", songs_path %>
   </div>




<%= yield %>

</body>
</html>
