<!DOCTYPE html>
<html>
<head>
  <title>Project1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class = "global_header_block">
    <%= link_to "Home", root_path%>&nbsp&nbsp
    <% if @current_artist %>
      Hello, <%=link_to @current_artist.name, @current_artist%>
      <%=link_to "Log Out", session_path(0), method: :delete, data: {confirm: "Are you sure?"}%>
    <%else %>
      <%= link_to 'Sign Up', new_artist_path %>&nbsp&nbsp
      <%=link_to "Log In", new_session_path%>
  <% end %>

  
   </div>



<%= yield %>

</body>
</html>
